.about{
    background-image: url(https://wallpaperaccess.com/full/5046361.jpg);
    background-position: center;
    min-height: 100vh;
    height: 950px;
    margin-left: -8px;
    margin-right: -8px;
    
}
.aboutIN{
    display: grid;
    grid-template-areas:
    'a a d'
    'b c d';
    padding: 25px 25px;
    align-items: center;
    width: 1600px;
    margin-left: 40px;
}

.title{
    grid-area: a;
}

.inAbout{
    grid-area: b;
}

.experience{
    grid-area: c;
}

.achievements{
    grid-area: d;
}
