.briefcase{
    background-image: url(https://rare-gallery.com/uploads/posts/523639-minimalism-texture.jpg);
    background-position: center;
    height: 100vb;
    margin-left: -8px;
    margin-right: -8px;
  }