@font-face {
  font-family: 'ARX ArcadeMachine';
  src: url('../../../../../src/fonts/AXR\ ArcadeMachine.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    background-image: url(https://wallpaper.dog/large/10818955.jpg);
    background-position: center;
    height: 100vh;
  }

  .helloFront{
    display: flex;
    flex-direction: column;
    align-items: first center;
    height: 100vh;
    padding-left: 100px;
    font-family: 'ARX ArcadeMachine';
    font-weight: normal;
    font-style: normal;
  }

  .text1{
    font-size: 200px;
    color: #DB3092;
    text-shadow: 3px 3px #101010,
                 6px 6px #73b9d4;
  }

  .text2{
    font-size: 300px;
    color:  #73b9d4;
    text-shadow: 5px 5px #101010,
                 10px 10px #DB3092;
  }