  .front{
    background-image: url(https://wallpaper.dog/large/10818955.jpg);
    background-position: center;
    min-height: 100vh;
    height: 950px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
  }

  .helloFront{
    display: flex;
    flex-direction: column;
    align-items: first center;
    height: 100vh;
    font-family: 'ARX ArcadeMachine';
    font-weight: normal;
    font-style: normal;
  }

  .text1{
    font-size: 200px;
    color: #DB3092;
    text-shadow: 3px 3px #101010,
                 6px 6px #73b9d4;
  }

  .text2{
    font-size: 300px;
    color:  #73b9d4;
    text-shadow: 5px 5px #101010,
                 10px 10px #DB3092;
  }



  @media screen and (max-width: 1450px){
    .helloFront{
      padding-top: 100px;
    }
    .text1{
      font-size: 160px;
    }
    .text2{
      font-size: 220px;
    }
  }

  @media screen and (max-width: 990px){
    .helloFront{
      padding-top: 150px;
      height: 790px;
    }
  .text1{
    font-size: 120px;
  }
  .text2{
    font-size: 150px;
  }
}
  @media screen and (max-width: 770px){
    .helloFront{
      padding-top: 200px;
      height: 740px;
    }
    .text1{
      font-size: 70px;
    }
    .text2{
      font-size: 90px;
    }
  }