.achievements{
    border-style: double;
    border-radius: 20px;
    color: aliceblue;
    padding: 15px 15px;
    height: 857px;
}

.achievements h2{
    padding-left: 15px;
    font-family: 'Overdrive Avenue';
    font-size: 20px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #0062ff, #0095ff, #ffdcf0);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.281), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
}

.achievement-project{
    display: flex;
    margin-left: 20px;
    padding-top: 25px;
    align-items: center;
    height: 70px;
}

.achievement-block{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.achievements img{
    width: 60px;
    height: 60px;
}

.achievement-block h3{
    margin-top: 1px;
    font-family: 'Esoris';
    font-size: 25px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #0062ff, #0095ff, #00bbff, #00ddff);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.281), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1450px){
    .achievements{
        width: 830px;
        height: 250px;
    }
    .achievement-block h3{
    font-size: 20px;
    }
    .achievementsIN{
        display: grid;
        grid-template-areas:
        'a b c d'
        'e f g h';
    }
    #skill1{
        grid-area: a;
    }
    #skill2{
        grid-area: b;
    }
    #skill3{
        grid-area: c;
    }
    #skill4{
        grid-area: d;
    }
    #skill5{
        grid-area: e;
    }
    #skill6{
        grid-area: f;
    }
    #skill7{
        grid-area: g;
    }
    #skill8{
        grid-area: h;
    }
}

@media screen and (max-width: 990px){
    .achievements{
        width: 630px;
        height: 320px;
    }
    .achievement-block h3{
    font-size: 18px;
    }
    .achievementsIN{
        grid-template-areas:
        'a b c'
        'd e f'
        'g h h';
    }
}

@media screen and (max-width: 770px){
    .achievements{
        width: 380px;
        height: 400px;
    }
    .achievement-block h3{
    font-size: 18px;
    }
    .achievements img{
        width: 40px;
        height: 40px;
    }
    .achievementsIN{
        grid-template-areas:
        'a b'
        'c d'
        'e f'
        'g h';
    }
}