.title{
    border-style: double;
    border-radius: 20px;
    color: aliceblue;
    padding: 15px 15px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h1{
    font-family: 'Overdrive Avenue';
    font-size: 48px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #0062ff, #0095ff, #c5004f, #ff0090, #ffdcf0);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.281), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
}

.title p{
    font-family: 'Heatwave';
    color: transparent;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to bottom, #0062ff, #ff0090);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.281), 
                 0px 8px 13px rgba(0,0,0,0.1), 
                 0px 18px 23px rgba(0,0,0,0.1);
    font-size: 48px;
    letter-spacing: 2px;
}

@media screen and (max-width: 1450px){
    .title{
        width: 830px;
        height: 120px;
    }
    .titleIN h1{
        font-size: 40px;
        padding-top: 25px;
    }
    .title p{
        font-size: 38px;
        }
}

@media screen and (max-width: 990px){
    .title{
        width: 630px;
        height: 120px;
    }
    .titleIN h1{
        font-size: 40px;
        padding-top: 25px;
    }
    .title p{
        font-size: 35px;
        }
@media screen and (max-width: 770px){
    .title{
        width: 380px;
        height: 120px;
        }
    .titleIN h1{
        font-size: 28px;
        padding-top: 25px;
    }
    .title p{
    font-size: 30px;
    }
    }
}