.MyPortfolio{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 800px;
    align-items: flex-start;
}

.MyPortfolio h1{
    font-family: 'Heatwave';
    padding-left: 10px;
    font-size: 120px;
    background-image: linear-gradient(to bottom, #ff0066, #6600ff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.MyPortfolio p{
    font-family: 'Neon Retro';
    color: blueviolet;
    font-size: 30px;
    font-weight: bold;
    background: #000000c2;
    border-radius: 30px;
    padding: 10px 10px;
    box-shadow: 0 0 20px #000000,
                0 0 40px #000000, 
                0 0 60px #000000,
                0 0 80px #000000;
}