.imgProjectsAll{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 100vb;
    padding-bottom: -100px;
}

.imgProjects{
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 50px 80px #071e54;
}

.imgProjects:hover{
    transform: scale(1.04);
    transition: 0.3s;
}